<%- include("header") -%>
<section id="about">
    <div class="container-about">
        <h2>About Us</h2>
        <div class="about">
            <p>The Spark Foundation bank(TSF) is an Indian Multinational, Public Sector Banking and Financial
                services
                statutory body headquartered in Mumbai. The rich heritage and legacy of over 200 years, accredits
                SBI as
                the most trusted Bank by Indians through generations.</p>
            <br>
            <p>TSF, the largest Indian Bank with 1/4th market share, serves over 44 crore customers through its vast
                network of over 22,000 branches, 58,500 ATMs, 66,000 BC outlets, with an undeterred focus on
                innovation,
                and customer centricity, which stems from the core values of the Bank - Service, Transparency,
                Ethics,
                Politeness and Sustainability.</p>

            <br>
            <p>The Bank has successfully diversified businesses through its 11 subsidiaries i.e TSF General
                Insurance,
                TSF Life Insurance, TSF Mutual Fund, TSF bank Card, etc. It has spread its presence globally and
                operates across time zones through 233 offices in 32 foreign countries.</p>
            <br>
            <p>Growing with times,  TSF continues to redefine banking in India, as it aims to offer responsible and
                sustainable Banking solutions.</p>
        </div>
    </div>
    <div class="card-about">
        <div class="vision">
            <h3>Our Vision</h3>
            <p>Be The Bank of choice for transforming India</p>
        </div>

        <div class="mission">
            <H3>Mission</H3>
            <p>Committed to providing simple,responsive and Innovative Financial Solutions</p>
        </div>

        <div class="values">
            <h3>Values</h3>
            <span>Service | Transparency | Ethics | Politeness | Sustainability</span>
        </div>
    </div>

</section>
<%-include("footer")-%>
<script>
     $("#search-box").css("display","none");
</script>
