
<%- include("header"); -%>

<div id="services">
    <div class="container-service">
        <h1>Our Services</h1>
        <div class="card3">
            <div class="services__content">
                <img src="https://img.icons8.com/pastel-glyph/64/26e07f/security-checked--v1.png" />
                <h3 class="services__title">Safe and Secure Banking</h3>
                <p class="services__description"> providing best security service to minimize the risk of fraud.</p>
            </div>

            <div class="services__content">
                <img src="https://img.icons8.com/pastel-glyph/64/26e07f/time-is-money--v2.png" />
                <h3 class="services__title">Instant Fund Transfer</h3>
                <p class="services__description">sending money from one account to another account in just one
                    click.</p>
            </div>

            <div class="services__content">
                <img src="https://img.icons8.com/pastel-glyph/64/26e07f/online-support.png" class="services__img">
                <h3 class="services__title">Availability</h3>
                <p class="services__description">Our support team is available 24*7 to attend all your queries.</p>
            </div>
        </div>
    </div>



</div>

<%-include("footer");-%>
<script>
    $("#search-box").css("display","none");
</script>
